
/*
reference:  color palette
https://visme.co/blog/website-color-schemes/
https://imagecolorpicker.com/en
*/

:root
{
    --main-bg-color: #000;
    --main-title-font-color: #fe4431;
    --main--text-font-color: #EDF5E1;
    --colo1: #5CDB95;
    --color2: #907163;
    --color3: #379683;
    --grey: #9C9C9C;
}

body{
    background-color: var(--main-bg-color) !important;
    color: var(--main--text-font-color) !important;
}

/*
NAVBAR
*/
#navbar{
    background-color: var(--main-bg-color) !important;
}
#navbar .navbar-brand, #navbar .nav-link{
    color: var(--main--text-font-color) !important;
}

#navbar .navbar-toggler{
    background-color: var(--main--text-font-color) !important;
}

/*
HERO
*/
#hero-intro{
    height: 100vh;
}

#type-writer, #cursor{
    color: var(--main-title-font-color) !important;
}
.btn-app{
    background-color: var(--main-title-font-color) !important;
    color: var(--main--text-font-color) !important;
}

.subtitle-header{
    color: var(--grey);
}

/*
ABOUT
*/